<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFQAx8vbpC0cfZ71h8l4vTEa7DOuiJA6M</string>
	<key>GCM_SENDER_ID</key>
	<string>975185048954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxlogin</string>
	<key>PROJECT_ID</key>
	<string>fir-gtx-34760</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-gtx-34760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975185048954:ios:4f0bc8f71c27ce1031d2c3</string>
</dict>
</plist>